.membersWinning {
    position: relative;
    padding: 16vw 20px 60px;
    margin-top: -30px;

    .testimonialBg {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
    }
}

